<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StylesheetUi2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StylesheetUi2.Settings>
            <setting name="encryptedApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="webResponse" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="validFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="authorized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enabledMaster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedModel" serializeAs="String">
                <value />
            </setting>
        </StylesheetUi2.Settings>
    </userSettings>
</configuration>
